{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 2,
        "targets": {
          "chrome": "67"
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}